.choose {
    display: flex;
    padding: 20px;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 10px;
}

.choose-options {
    display: flex;
    flex-direction: row;
    gap: 75px;
}

.buttons-row {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-top: 5px;
}

.additions {
    dispay: flex;
    width: 765px;
    gap: 10px;
    flex-direction: column;
}

.time:first-child {
    display: flex;
    flex-direction: column;
}

.time {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.form-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-section > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

